html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: rgb(114, 2, 80);
  width: 850px;
  margin: 0 auto;
  padding: 0.3em 0.6em;
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, #c7c7c7 20%, #d6ced6 75%, #d5cfd6);
  border-image-slice: 1;
}
h1 {
  color:rgb(248, 248, 248);
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;

  
}

h2 {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color:rgb(248, 248, 248);
}